<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doll Makeup</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header class="header">
    <h1 class="logo">Doll Makeup</h1>

    <nav class="nav-links">
      <a href="/products">Productos</a>
      <a href="/carts/{{cartId}}">Carrito</a>
    </nav>
  </header>

  <main class="container">
    {{{ body }}}
  </main>

</body>
</html>
